.App {
  text-align: center;
}

.burritosolo{
  height: 50vmin;
  pointer-events: none;
}


.App-link {
  color: rgb(104, 101, 101);
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .burritosolo {
    animation: wiggle 3s linear infinite;
  }
}

@keyframes wiggle {
 


  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
} 



/* @media (prefers-reduced-motion: no-preference) {
  .burritosolo {
    animation: float 3s linear infinite;
  }
} */

/* @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.0);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.0);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.0);
		transform: translatey(0px);
	}
} */



.nav-links {
  width: 100%;
  display: flex;
  background-color: lavender;
  justify-content: end;
  align-items: center;
 
  font-size: 1.5rem;
 
  
}

.active {
  text-decoration: none;
  

}