

header {
    padding: 1rem;
    flex-flow: row wrap;
    /* justify-content: right; */
    /* align-items: center; */
    @media (max-width: 500px;){
        margin-left: 20%;
    }
    
  }
  
  header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 65%;
    @media (max-width: 500px;){
        margin-left: 20%;
    }
    
  }
  
  header nav a {
    margin-left: 1rem;
    font-size: 1.5rem;
    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }
  
  .active {
    font-weight: bold;
    text-decoration: none;
    font-style: oblique;
  }